/*  
    #fd331f
    #ff7a2d
    #51a584
    #1e2e47
    #1e2223
    #e9bb2a

*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding-top: 0;
    margin-top: 0;
    background-color: #51a584;
}
.header{
    background-color: #fd331f;
    height:auto;
    font-size: x-large;
    text-align: center;
}
.header h1{
    padding: 10px;
}
.recipe-link{
    display: inline-block;
    background-color: #1e2e47;
    margin: 10px;
    padding: 5px;
}
.recipe-link a{
    display: block;
    text-align: center;
    margin: 30px;
    color: #e9bb2a;
}
.recipe-link-container{
    margin: 50px;
}
.recipe-links{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.recipe-link a{
    padding: 10px;
    font-size: x-large;
}
.recipe-link a:hover{
    color: #ff7a2d;
}
.container{
    background-color: #1e2e47;
    width: fit-content;
    padding: 50px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #e9bb2a;
    text-align: center;
}

.container h3{
    font-size: xx-large;
}
.container p{
    font-size: large;
}
.ingredients h4,
.instructions h4{
    font-size: x-large;
}
.ingredients-list{
    list-style: none;
}
a{
    color: #e9bb2a;
}
a:hover{
    color: #ff7a2d;
}
.ingredients,
.instructions,
description{
    margin: 10px;
}
